<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User-connected</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../pages/lg.css">
</head>
<body>
        <div class="main flex flex-column align-cent justify-cent">
            <div class="logos flex flex-column justify-cent align-cent">
                <img src="../assets/img/logs.png" alt="" srcset="">
                <p style="text-align: center;color: rgb(255, 100, 95);font-size: 1.8rem;margin: 2rem 0;">If you face problem in the connection then login and verify as a parent again</p>
                <p style="text-align: center;color: rgb(18, 223, 255); font-size: 1.5rem;">You are successfully connected to <b>krutika_aaa11</b></p>
                <p style="text-align: center;color: rgb(255, 255, 255); font-size: 1.2rem;">You can exit the browser</p>
            </div>
            
        </div>
</body>
</html>