<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect your id now</title>
    <link rel="stylesheet" href="../pages/lg.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="main flex flex-column align-cent justify-cent">
        <div class="logos flex flex-column justify-cent align-cent">
            <img src="../assets/img/logs.png" alt="" srcset="">
            <p>Setup a quick parental control</p>
        </div>
        <div class="message">
            <h3>Enter the id:</h3>
        </div>
        <div class="inputs">
            <input type="text" class="ins" autocomplete="false" spellcheck="false"  placeholder="User id over here">
        </div>
        <div class="former">
            <h5 class="fr_label"></h5>
        </div>
        <div class="lg">
            <button type="button" class="butn" onclick="openuser(this)">Search id</button>
        </div>
        <div class="spinner">
            <button class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Searching...
            </button>
        </div>
    </div>
</body>
<script src="../pageLogic/id_connect.js"></script>
</html>